@font-face {
    font-family: 'jinkyregular';
    src: url('jinky-webfont.eot');
    src: url('jinky-webfont.eot?#iefix') format('embedded-opentype'),
         url('jinky-webfont.woff2') format('woff2'),
         url('jinky-webfont.woff') format('woff'),
         url('jinky-webfont.ttf') format('truetype'),
         url('jinky-webfont.svg#jinkyregular') format('svg');
    font-style: bold;

}
body{
    background-image: url('bureau.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.list{
   
    transform: rotate(354deg);
}
.deco{
    background-image: url('pencil.svg');
    background-repeat: no-repeat;
    width: 1000Px;
    background-size: 800px;
    padding-right: -1150Px;

}

input{
    outline: none;
    border: none;
    background-color: #ffffa5;
}
.post-it {
    display: flex;
    justify-content: left;
    width: 60%;
    min-height: 470px;
    margin: auto;
    margin-top: 70px;
    padding: 2%;
    font-family: 'jinkyregular';
    font-size: 60px;
    font-weight: 700;
    background-color: #ffffa5;
    box-shadow: 2px 4px 6px black;
    -moz-box-shadow: 2px 4px 6px black;
    -webkit-box-shadow: 2px 4px 6px black;
    transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    border-bottom-right-radius: 60px 15px;
}
.title{
    font-family: 'jinkyregular';
    font-size: 80px;
    font-weight: 700;
}

li{
    display: flex;
    list-style-type: none;
    cursor: pointer;
    position: relative;
    margin-left: -600px;
    padding: 23px 8px 8px 120px;
    font-size: 50px;
    font-weight: 700;
}

button{
    display: flex;
    text-align: left;
    border: none;
    outline-color: #ffffa5;
    background-color: #ffffa5;
}
button:focus{
    outline: none;
}

.checked {
  text-decoration: line-through;
}