body 
{
    position: absolute;
    background-color: white;
    background-image: url("http://scd.rfi.fr/sites/filesrfi/imagecache/rfi_16x9_1024_578/sites/images.rfi.fr/files/aef_image/2018-11-30t153804z_1078111843_rc16130e3990_rtrmadp_3_g20-argentina-family-photo_0.jpg");
    background-repeat: no-repeat;
    background-position: top center;
}

#canvas
{
    position: relative;
    left: 250px;
    top: 120px;
}